Adding county columns and state moved to column

In [4]:
import pandas as pd
import numpy as np
import pickle

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# load data
pklFile = "/content/drive/MyDrive/W209_final_project/Data/PickleFiles/df_final20230221.pkl"
df = pd.read_pickle(pklFile)

In [6]:
df = df.drop(axis = 1, labels = ["state", "county", "STATE", "STATENS", "STUSAB"])

In [7]:
df[df["STATE_NAME"] == "Arizona"]

,MOVEDIN,GEOID1,GEOID2,MOVEDOUT,FULL1_NAME,FULL2_NAME,MOVEDNET,YEAR,STATE_NAME
11504,64,04001,02020,0,"Apache County, Arizona","Anchorage Municipality, Alaska",64,2010,Arizona
11505,36,04001,02090,4,"Apache County, Arizona","Fairbanks North Star Borough, Alaska",32,2010,Arizona
11506,0,04001,02122,12,"Apache County, Arizona","Kenai Peninsula Borough, Alaska",-12,2010,Arizona
11507,0,04001,04003,166,"Apache County, Arizona","Cochise County, Arizona",-166,2010,Arizona
11508,177,04001,04005,94,"Apache County, Arizona","Coconino County, Arizona",83,2010,Arizona
...,...,...,...,...,...,...,...,...,...
4984829,0,04027,5503968175,4,"Yuma County, Arizona","Ripon City, Fond du Lac County, Wisconsin",-4,2020,Arizona
4984830,8,04027,5505578200,0,"Yuma County, Arizona","Sullivan Town, Jefferson County, Wisconsin",8,2020,Arizona
4984831,41,04027,5505939225,0,"Yuma County, Arizona","Kenosha City, Kenosha County, Wisconsin",41,2020,Arizona
4984832,76,04027,5506127250,0,"Yuma County, Arizona","Franklin Town, Kewaunee County, Wisconsin",76,2020,Arizona
4984833,49,04027,5507953000,0,"Yuma County, Arizona","Milwaukee City, Milwaukee County, Wisconsin",49,2020,Arizona

In [8]:
pd.unique(df["STATE_NAME"]).shape

(52,)

In [ ]:
pd.unique(df["FULL1_NAME"]).shape

(3285,)

In [ ]:
pd.unique(df["FULL2_NAME"]).shape

(23694,)

In [ ]:
total_counties = 3007

In [ ]:
df.head()

,MOVEDIN,GEOID1,GEOID2,MOVEDOUT,FULL1_NAME,FULL2_NAME,MOVEDNET,YEAR,STATE_NAME
0,38,01001,01003,11,"Autauga County, Alabama","Baldwin County, Alabama",27,2010,Alabama
1,0,01001,01005,15,"Autauga County, Alabama","Barbour County, Alabama",-15,2010,Alabama
2,44,01001,01007,0,"Autauga County, Alabama","Bibb County, Alabama",44,2010,Alabama
3,98,01001,01009,59,"Autauga County, Alabama","Blount County, Alabama",39,2010,Alabama
4,12,01001,01013,0,"Autauga County, Alabama","Butler County, Alabama",12,2010,Alabama

In [ ]:
pd

IDENTIFIERS REFERENCE: https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html

In [ ]:
# get everything to 5 digit code
df["GEOID1"] = df["GEOID1"].str[:2] + df["GEOID1"].str[2:5]
df["GEOID2"] = df["GEOID2"].str[:2] + df["GEOID2"].str[2:5]

In [ ]:
# Add human readable labels
dfCounty2010_2014 = pd.read_csv("https://www2.census.gov/geo/docs/reference/codes/national_county.txt", sep=",", dtype=object) # 2010 - 2014 encodings
dfCounty2010_2014["GEOID"] = dfCounty2010_2014["State ANSI"] + dfCounty2010_2014["County ANSI"]
dfCounty2010_2014 = dfCounty2010_2014.drop(["ANSI Cl"], axis = 1)

dfCounty2020 = pd.read_csv("https://www2.census.gov/geo/docs/reference/codes2020/national_county2020.txt", sep="|", dtype=object) # 2015 - 2020 encodings
dfCounty2020["GEOID"] = dfCounty2020['STATEFP'] + dfCounty2020["COUNTYFP"]
dfCounty2020 = dfCounty2020.drop(["CLASSFP", "FUNCSTAT", 'COUNTYNS'], axis = 1)

In [ ]:
dfCounty = pd.merge(dfCounty2010_2014, dfCounty2020, how = "outer", on = "GEOID")
dfCounty.head()

,State,State ANSI,County ANSI,County Name,GEOID,STATE,STATEFP,COUNTYFP,COUNTYNAME
0,AL,01,001,Autauga County,01001,AL,01,001,Autauga County
1,AL,01,003,Baldwin County,01003,AL,01,003,Baldwin County
2,AL,01,005,Barbour County,01005,AL,01,005,Barbour County
3,AL,01,007,Bibb County,01007,AL,01,007,Bibb County
4,AL,01,009,Blount County,01009,AL,01,009,Blount County

In [ ]:
# restructure
dfCounty.isnull().sum()

State          4
State ANSI     4
County ANSI    4
County Name    4
GEOID          0
STATE          4
STATEFP        4
COUNTYFP       4
COUNTYNAME     4
dtype: int64

In [ ]:
# fill in empty
for i, k in zip(list(dfCounty2010_2014.columns), list(dfCounty2020.columns)): 
  dfCounty[k] = dfCounty[k].fillna(dfCounty[i])

del dfCounty2010_2014, dfCounty2020

In [ ]:
# quality check
dfCounty.isnull().sum()

State          4
State ANSI     4
County ANSI    4
County Name    4
GEOID          0
STATE          0
STATEFP        0
COUNTYFP       0
COUNTYNAME     0
dtype: int64

In [ ]:
# remove extra columns
dfCounty.drop(axis = 1, inplace = True, labels = ['State', 'State ANSI', 'County ANSI', 'County Name', "STATEFP", "COUNTYFP"])

In [ ]:
dfCounty.head()

   GEOID STATE      COUNTYNAME
0  01001    AL  Autauga County
1  01003    AL  Baldwin County
2  01005    AL  Barbour County
3  01007    AL     Bibb County
4  01009    AL   Blount County

In [ ]:
df.head()

,MOVEDIN,GEOID1,GEOID2,MOVEDOUT,FULL1_NAME,FULL2_NAME,MOVEDNET,YEAR,STATE_NAME
0,38,01001,01003,11,"Autauga County, Alabama","Baldwin County, Alabama",27,2010,Alabama
1,0,01001,01005,15,"Autauga County, Alabama","Barbour County, Alabama",-15,2010,Alabama
2,44,01001,01007,0,"Autauga County, Alabama","Bibb County, Alabama",44,2010,Alabama
3,98,01001,01009,59,"Autauga County, Alabama","Blount County, Alabama",39,2010,Alabama
4,12,01001,01013,0,"Autauga County, Alabama","Butler County, Alabama",12,2010,Alabama

In [ ]:
df.shape

(5437049, 9)

In [ ]:
df = pd.merge(left= df, right = dfCounty, left_on = "GEOID1", right_on = "GEOID", suffixes = ("_OG1", "_FROM"), how = "outer")
df = pd.merge(left= df, right = dfCounty, left_on = "GEOID2", right_on = "GEOID", suffixes = ("_FROM", "_TO"), how = "outer")
df.isnull().sum()

MOVEDIN            28
GEOID1             28
GEOID2             28
MOVEDOUT           28
FULL1_NAME         28
FULL2_NAME         28
MOVEDNET           28
YEAR               28
STATE_NAME         28
GEOID_FROM         14
STATE_FROM         14
COUNTYNAME_FROM    14
GEOID_TO           14
STATE_TO           14
COUNTYNAME_TO      14
dtype: int64

In [ ]:
df.shape

(5437077, 15)

In [ ]:
# cleanup columns
df.drop(inplace = True, axis = 1, labels = ["GEOID1", "GEOID2", "FULL1_NAME", "FULL2_NAME"])

In [ ]:
df.head()

,MOVEDIN,MOVEDOUT,MOVEDNET,YEAR,STATE_NAME,GEOID_FROM,STATE_FROM,COUNTYNAME_FROM,GEOID_TO,STATE_TO,COUNTYNAME_TO
0,38,11,27.0,2010.0,Alabama,01001,AL,Autauga County,01003,AL,Baldwin County
1,78,7,71.0,2011.0,Alabama,01001,AL,Autauga County,01003,AL,Baldwin County
2,119,27,92.0,2012.0,Alabama,01001,AL,Autauga County,01003,AL,Baldwin County
3,116,62,54.0,2013.0,Alabama,01001,AL,Autauga County,01003,AL,Baldwin County
4,77,88,-11.0,2014.0,Alabama,01001,AL,Autauga County,01003,AL,Baldwin County

In [ ]:
# add rustbelt label
rustbelt_states = ['Illinois', 'Indiana', 'Michigan', 'Missouri', 'New York', 'Ohio', 'Pennsylvania', 'West Virginia', 'Wisconsin']

states = pd.read_csv("/content/drive/MyDrive/W209_final_project/Data/state_abbreviations.csv")

In [ ]:
df["STATE_FROM"] = pd.merge(df["STATE_FROM"], states, left_on = "STATE_FROM", right_on = "Abbreviation", how = "outer")["STATE"]
df["STATE_TO"] = pd.merge(df["STATE_TO"], states, left_on = "STATE_TO", right_on = "Abbreviation", how = "outer")["STATE"]

In [ ]:
df.drop(inplace = True, axis = 1, labels = ['STATE_NAME'])
df.head()

,MOVEDIN,MOVEDOUT,MOVEDNET,YEAR,GEOID_FROM,STATE_FROM,COUNTYNAME_FROM,GEOID_TO,STATE_TO,COUNTYNAME_TO
0,38,11,27.0,2010.0,01001,Alabama,Autauga County,01003,Alabama,Baldwin County
1,78,7,71.0,2011.0,01001,Alabama,Autauga County,01003,Alabama,Baldwin County
2,119,27,92.0,2012.0,01001,Alabama,Autauga County,01003,Alabama,Baldwin County
3,116,62,54.0,2013.0,01001,Alabama,Autauga County,01003,Alabama,Baldwin County
4,77,88,-11.0,2014.0,01001,Alabama,Autauga County,01003,Alabama,Baldwin County

In [ ]:
df.isnull().sum()

MOVEDIN            28
MOVEDOUT           28
MOVEDNET           28
YEAR               28
GEOID_FROM         14
STATE_FROM         15
COUNTYNAME_FROM    14
GEOID_TO           14
STATE_TO           15
COUNTYNAME_TO      14
dtype: int64

In [ ]:
def rustbelt_state_label(s): 
  if s in rustbelt_states: 
    return "Yes"
  else:
    return "No"

In [ ]:
df["STATE_FROM_RustBelt_Label"] = df['STATE_FROM'].apply(rustbelt_state_label)
df["STATE_TO_RustBelt_Label"] = df['STATE_TO'].apply(rustbelt_state_label)

In [ ]:
# Remove Null columns

In [ ]:
import datetime
today = datetime.date.today()
today = datetime.date.strftime(today, "%Y%m%d")

In [ ]:
# Write out csv
df.to_csv("/content/drive/MyDrive/W209_final_project/Data/df_county_sep_"+today+".csv")

In [ ]:
df[df["STATE_TO"] == "Washington"]

,MOVEDIN,MOVEDOUT,MOVEDNET,YEAR,GEOID_FROM,STATE_FROM,COUNTYNAME_FROM,GEOID_TO,STATE_TO,COUNTYNAME_TO,STATE_FROM_RustBelt_Label,STATE_TO_RustBelt_Label
3852732,11,0,11.0,2012.0,12109,Oregon,St. Johns County,44003,Washington,Kent County,No,No
3852733,0,16,-16.0,2012.0,12109,Oregon,St. Johns County,44003,Washington,Kent County,No,No
3852734,69,50,19.0,2013.0,12109,Oregon,St. Johns County,44003,Washington,Kent County,No,No
3852735,0,30,-30.0,2013.0,12109,Oregon,St. Johns County,44003,Washington,Kent County,No,No
3852736,69,0,69.0,2013.0,12109,Oregon,St. Johns County,44003,Washington,Kent County,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
3933639,4,0,4.0,2013.0,55129,Pennsylvania,Washburn County,55133,Washington,Waukesha County,Yes,No
3933640,4,0,4.0,2014.0,55129,Pennsylvania,Washburn County,55133,Washington,Waukesha County,Yes,No
3933641,4,0,4.0,2015.0,55129,Pennsylvania,Washburn County,55133,Washington,Waukesha County,Yes,No
3933642,5,0,5.0,2016.0,55129,Pennsylvania,Washburn County,55133,Washington,Waukesha County,Yes,No
3933643,1,0,1.0,2017.0,55129,Pennsylvania,Washburn County,55133,Washington,Waukesha County,Yes,No

In [ ]:
# Data Validation Check

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/W209_final_project/Data/df_county_sep_20230225.csv")

In [ ]:
df

,Unnamed: 0,MOVEDIN,MOVEDOUT,MOVEDNET,YEAR,GEOID_FROM,STATE_FROM,COUNTYNAME_FROM,GEOID_TO,STATE_TO,COUNTYNAME_TO,STATE_FROM_RustBelt_Label,STATE_TO_RustBelt_Label
0,0,38.0,11.0,27.0,2010.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
1,1,78.0,7.0,71.0,2011.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
2,2,119.0,27.0,92.0,2012.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
3,3,116.0,62.0,54.0,2013.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
4,4,77.0,88.0,-11.0,2014.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5437072,5437072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69120.0,Northern Mariana Islands,Tinian Municipality,No,No
5437073,5437073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74300.0,NaN,Midway Islands,No,No
5437074,5437074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78010.0,Virgin Islands,St. Croix Island,No,No
5437075,5437075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78020.0,Virgin Islands,St. John Island,No,No
5437076,5437076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78030.0,Virgin Islands,St. Thomas Island,No,No

Does Each State correspond with another?

In [ ]:
df[df["STATE_FROM"] == "Alabama"]

,Unnamed: 0,MOVEDIN,MOVEDOUT,MOVEDNET,YEAR,GEOID_FROM,STATE_FROM,COUNTYNAME_FROM,GEOID_TO,STATE_TO,COUNTYNAME_TO,STATE_FROM_RustBelt_Label,STATE_TO_RustBelt_Label
0,0,38.0,11.0,27.0,2010.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
1,1,78.0,7.0,71.0,2011.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
2,2,119.0,27.0,92.0,2012.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
3,3,116.0,62.0,54.0,2013.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
4,4,77.0,88.0,-11.0,2014.0,1001.0,Alabama,Autauga County,1003.0,Alabama,Baldwin County,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97728,97728,27.0,0.0,27.0,2016.0,32510.0,Alabama,Carson City,6001.0,Alaska,Alameda County,No,No
97729,97729,37.0,0.0,37.0,2017.0,32510.0,Alabama,Carson City,6001.0,Alaska,Alameda County,No,No
97730,97730,56.0,52.0,4.0,2010.0,33003.0,Alabama,Carroll County,6001.0,Alaska,Alameda County,No,No
97731,97731,0.0,57.0,-57.0,2011.0,33003.0,Alabama,Carroll County,6001.0,Alaska,Alameda County,No,No
97732,97732,0.0,58.0,-58.0,2012.0,33003.0,Alabama,Carroll County,6001.0,Alaska,Alameda County,No,No

In [ ]:
df.groupby(by = ["STATE_FROM", "STATE_TO"])["MOVEDNET"].agg([np.mean])

                                      mean
STATE_FROM STATE_TO
Alabama    Alabama               -2.303724
           Alaska                 9.195472
Alaska     Alaska                40.482332
           Arizona                2.615385
Arizona    Arizona               -3.984311
...                                    ...
Wisconsin  District of Columbia   1.401105
           Maine                  0.944214
           Nebraska              -0.552806
           West Virginia          0.990902
Wyoming    Nebraska               1.729620

[103 rows x 1 columns]

In [9]:
df = pd.read_csv("/content/drive/MyDrive/W209_final_project/Data/df_county_sep_20230225.csv")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5437077 entries, 0 to 5437076
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Unnamed: 0                 int64
 1   MOVEDIN                    float64
 2   MOVEDOUT                   float64
 3   MOVEDNET                   float64
 4   YEAR                       float64
 5   GEOID_FROM                 float64
 6   STATE_FROM                 object
 7   COUNTYNAME_FROM            object
 8   GEOID_TO                   float64
 9   STATE_TO                   object
 10  COUNTYNAME_TO              object
 11  STATE_FROM_RustBelt_Label  object
 12  STATE_TO_RustBelt_Label    object
dtypes: float64(6), int64(1), object(6)
memory usage: 539.3+ MB

In [16]:
df.groupby(by = 'YEAR')[['GEOID_FROM', 'GEOID_TO']].count()

        GEOID_FROM  GEOID_TO
YEAR
2010.0      447569    447569
2011.0      487518    487518
2012.0      495667    495667
2013.0      497559    497559
2014.0      504978    504978
2015.0      514349    514349
2016.0      513417    513417
2017.0      507041    507041
2018.0      503008    503008
2019.0      495668    495668
2020.0      470275    470275

In [22]:
df_col = pd.read_csv('/content/drive/MyDrive/W209_final_project/Data/df_COL.csv', encoding = 'utf-8', error_bad_lines=)

UnicodeDecodeError: ignored

In [1]:
with open('/content/drive/MyDrive/W209_final_project/Data/df_COL.csv', 'rb') as f:
  contents = f.read()

In [2]:
type(contents)

bytes

In [4]:
path = '/content/drive/MyDrive/W209_final_project/Data/df_COL.csv'

In [5]:
with open(path, encoding="utf8", errors='ignore') as f:
  contents = pd.read_c

In [6]:
type(contents)

str